*{
    font-family: sans-serif;
    margin: 0;
    background-color: black;
}
.btt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    margin: 0;
    font-family: 'Arial', sans-serif;
}


.nav-bar{
    height: 40px;
    color: rgb(19, 209, 209);
    background-color: white;
    text-align: center;
    font-size: 2rem;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    max-width: 400px;
}

.btn {
    grid-column: span 1;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    color: rgb(60, 138, 138);
    border-radius: 14px;
}

.display {
    grid-column: span 4;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 6px;
}


